<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<test thread-count="5" name="Test">

		<parameter name="user-name" value="standard_user" />
		<parameter name="password" value="secret_sauce" />
		<classes>
			<class name="org.demo.task.sauce.SauceLogin" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
